<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Css")

    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-modal.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.slides.min.js"></script>
    <script type="text/javascript" src="~/Scripts/masked.min.js"></script>
    <script type="text/javascript" src="~/Scripts/additional-methods.min.js"></script>

    <script type="text/javascript" src="~/Scripts/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/schoolcalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/registration.js"></script>
    <script type="text/javascript" src="~/Scripts/contact-us.js"></script>

    <link rel="icon" type="image/png" href="~/Content/Images/favicon.ico?v=2" />

    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/css3-mediaqueries.js")"></script>
    <script src="@Url.Content("~/Scripts/html5.js")"></script>
    <![endif]-->
</head>
<body>
    <div class="nav-wrapper">
        <div class="navbar">
            <div class="navbar-inner" id="navbar">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("StaffAndFaculty", "Home")">Staff & Faculty</a></li>
                    <li><a href="@Url.Action("Registration", "Home")">Registration Information</a></li>
                    <li><a href="@Url.Action("SchoolCalendar", "Home")">School Calendar</a></li>
                    <li><a href="@Url.Action("Directions", "Home")">Directions</a></li>
                    <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    <div class="line-break"></div>

    <div class="footer">
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="span3"></div>
                <div class="span6">
                    Copyright &copy; 2016 Ascension Lutheran Preschool
                </div>
                <div class="span3"></div>
            </div>
            <br />
            <br />
        </div>
    </div>
</body>
</html>
